rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Admin can read all events and users (for dashboard aggregation)
    match /{path=**}/events/{eventId} {
      allow read: if request.auth.uid in ["PPnxvAX9yIbqGTWtUPWUmYXvKBm2", "kU8Jm1Ubh1b4ikC9DQjY3ga0g4J2", "QPOaRxnLdBZCmO9RENmhzdfmuzz1", "94QSjmXHwEhrTHudkoimyJAsiJ43"];
    }
    match /users/{userId} {
      allow read: if request.auth.uid in ["PPnxvAX9yIbqGTWtUPWUmYXvKBm2", "kU8Jm1Ubh1b4ikC9DQjY3ga0g4J2", "QPOaRxnLdBZCmO9RENmhzdfmuzz1", "94QSjmXHwEhrTHudkoimyJAsiJ43"];
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;

      match /plugins/{pluginId} {
        allow read, create, update: if request.auth != null && request.auth.uid == userId;
        allow delete: if request.auth != null && request.auth.uid == userId;

        match /messages/{messageId} {
          allow read, create: if request.auth != null && request.auth.uid == userId;
          allow update, delete: if request.auth != null && request.auth.uid == userId;
        }
      }

      match /prompts/{promptId} {
        allow read, create: if request.auth != null && request.auth.uid == userId;
        allow update, delete: if request.auth != null && request.auth.uid == userId;
      }

      match /events/{eventId} {
        allow create: if request.auth != null && request.auth.uid == userId;
        allow read: if request.auth != null && request.auth.uid == userId;
      }

      match /generations/{generationId} {
        allow read, create: if request.auth != null && request.auth.uid == userId;
        allow update: if request.auth != null && request.auth.uid == userId;
        allow delete: if false;
      }
    }
  }
}
